In [5]:
#8.3 Project Presentations for WASHSTL201809DATA3 by Group H - Cody Braun, Austen Manser and Bill Nash
#BillboardCharts_Hot100_Collecter.ipynb

#import dependencies
import os
import csv
import billboard
from datetime import date, timedelta
import pandas as pd

#outputCSV = os.path.join('.', 'Resources', 'Hot_100BBCharts_time.csv')
#inputCSV = os.path.join('.', 'Resources', 'test_Hot_100BBCharts_time.csv')
inputCSV = os.path.join('.', '..','Resources', 'Class_Hot100BBCharts_time.csv')
outputCSV = os.path.join('.', '..','Resources', 'Class_Hot100BBCharts_time.csv')

#August 4, 1958  .... 3144 wednesdays 
beginDate = date(2018, 10, 24)
#beginDate = date(1958, 8, 6)
endDate = date(2018, 10, 31) 

#Finding all Wednesdays between a beginning and end dates.
wednesdays = [beginDate + timedelta(days=x) for x in range((endDate-beginDate).days + 1) if (beginDate + timedelta(days=x)).weekday() == 2]

#Open CSV for writing; iterate over the list of wednesdays; gather/write song speific data
with open(outputCSV, "w", newline="") as outCSVFile:
    headers =['Date','Title','Artist','Peak_Position','Last_Position','Weeks_on_Chart','Rank_in_Chart','New_on_Chart']
    writer = csv.DictWriter(outCSVFile,fieldnames=headers,extrasaction='ignore')
    writer.writeheader()
    counter = 0
    for songDate in wednesdays:
        chart = billboard.ChartData('hot-100', '%s' % songDate)
        
        for pos in range(99):
            row = {}
            songBBmetadata = chart[pos]
            songData = {'Date':songDate,'Title':songBBmetadata.title,'Artist':songBBmetadata.artist,
                        'Peak_Position':songBBmetadata.peakPos,'Last_Position':songBBmetadata.lastPos,
                        'Weeks_on_Chart':songBBmetadata.weeks,'Rank_in_Chart':songBBmetadata.rank,
                        'New_on_Chart':songBBmetadata.isNew}
            writer.writerow(songData)
            counter += 1
            #print(counter)

In [6]:
#Read in CSV directly into a DataFrame
billboardChartsDF = pd.read_csv(inputCSV, header=0)

billboardChartsDF.info(verbose=True)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 198 entries, 0 to 197
Data columns (total 8 columns):
Date              198 non-null object
Title             198 non-null object
Artist            198 non-null object
Peak_Position     198 non-null int64
Last_Position     198 non-null int64
Weeks_on_Chart    198 non-null int64
Rank_in_Chart     198 non-null int64
New_on_Chart      198 non-null bool
dtypes: bool(1), int64(4), object(3)
memory usage: 11.1+ KB

In [7]:
billboardChartsDF.shape

(198, 8)

In [9]:
# Looking for NaN values in DF. This returns an integer of the total number of NaN values. First giving 
# a summation of the number of NaN values in a column, then the summation of those values:
billboardChartsDF.isnull().sum()

#The total number of NaN values in the DataFrame:
#billboardChartsDF.isnull().sum().sum()

Date              0
Title             0
Artist            0
Peak_Position     0
Last_Position     0
Weeks_on_Chart    0
Rank_in_Chart     0
New_on_Chart      0
dtype: int64

In [10]:
billboardChartsDF.head()

,Date,Title,Artist,Peak_Position,Last_Position,Weeks_on_Chart,Rank_in_Chart,New_on_Chart
0,2018-10-24,Girls Like You,Maroon 5 Featuring Cardi B,1,1,21,1,False
1,2018-10-24,ZEZE,Kodak Black Featuring Travis Scott & Offset,2,0,0,2,True
2,2018-10-24,Lucid Dreams,Juice WRLD,2,2,23,3,False
3,2018-10-24,Better Now,Post Malone,3,3,25,4,False
4,2018-10-24,MIA,Bad Bunny Featuring Drake,5,0,0,5,True

In [11]:
billboardChartsDF.tail()

,Date,Title,Artist,Peak_Position,Last_Position,Weeks_on_Chart,Rank_in_Chart,New_on_Chart
193,2018-10-31,Backin' It Up,Pardison Fontaine Featuring Cardi B,92,0,2,95,False
194,2018-10-31,Africa,Weezer,51,84,15,96,False
195,2018-10-31,Electricity,Silk City x Dua Lipa,96,97,3,97,False
196,2018-10-31,Get Dripped,Lil Yachty Featuring Playboi Carti,98,0,0,98,True
197,2018-10-31,Drowns The Whiskey,Jason Aldean Featuring Miranda Lambert,32,98,18,99,False