In [1]:
import os
import csv
import billboard
from datetime import date, timedelta
import pandas as pd

#outputCSV = os.path.join('.', 'Resources', 'Hot_100BBCharts_time.csv')
#inputCSV = os.path.join('.', 'Resources', 'test_Hot_100BBCharts_time.csv')
inputCSV = os.path.join('.', 'Resources', 'Hot_100BBCharts_time.csv')
outputCSV = os.path.join('.', 'Resources', 'test_Hot_100BBCharts_time.csv')

#August 4, 1958  .... 3144 wednesdays 
beginDate = date(2018, 10, 20)
#beginDate = date(1958, 8, 6)
endDate = date(2018, 10, 31) 

#Finding all Wednesdays between a beginning and end dates.
wednesdays = [beginDate + timedelta(days=x) for x in range((endDate-beginDate).days + 1) if (beginDate + timedelta(days=x)).weekday() == 2]

#Open CSV for writing; iterate over the list of wednesdays; gather/write song speific data
with open(outputCSV, "w", newline="") as outCSVFile:
    headers =['Date','Title','Artist','Peak_Position','Last_Position','Weeks_on_Chart','Rank_in_Chart','New_on_Chart']
    writer = csv.DictWriter(outCSVFile,fieldnames=headers,extrasaction='ignore')
    writer.writeheader()
    counter = 0
    for songDate in wednesdays:
        chart = billboard.ChartData('hot-100', '%s' % songDate)
        
        for pos in range(99):
            row = {}
            songBBmetadata = chart[pos]
            songData = {'Date':songDate,'Title':songBBmetadata.title,'Artist':songBBmetadata.artist,
                        'Peak_Position':songBBmetadata.peakPos,'Last_Position':songBBmetadata.lastPos,
                        'Weeks_on_Chart':songBBmetadata.weeks,'Rank_in_Chart':songBBmetadata.rank,
                        'New_on_Chart':songBBmetadata.isNew}
            writer.writerow(songData)
            counter += 1
            #print(counter)

In [2]:
#Read in CSV directly into a DataFrame
billboardChartsDF = pd.read_csv(inputCSV, header=0)

billboardChartsDF.info(verbose=True)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 311256 entries, 0 to 311255
Data columns (total 8 columns):
Date              311256 non-null object
Title             311256 non-null object
Artist            311256 non-null object
Peak_Position     311256 non-null int64
Last_Position     311256 non-null int64
Weeks_on_Chart    311256 non-null int64
Rank_in_Chart     311256 non-null int64
New_on_Chart      311256 non-null bool
dtypes: bool(1), int64(4), object(3)
memory usage: 16.9+ MB

In [3]:
billboardChartsDF.shape

(311256, 8)

In [4]:
# Looking for NaN values in DF. This returns an integer of the total number of NaN values. First giving 
# a summation of the number of NaN values in a column, then the summation of those values:
billboardChartsDF.isnull().sum()

#The total number of NaN values in the DataFrame:
#billboardChartsDF.isnull().sum().sum()

Date              0
Title             0
Artist            0
Peak_Position     0
Last_Position     0
Weeks_on_Chart    0
Rank_in_Chart     0
New_on_Chart      0
dtype: int64

In [5]:
billboardChartsDF.head()

,Date,Title,Artist,Peak_Position,Last_Position,Weeks_on_Chart,Rank_in_Chart,New_on_Chart
0,1958-08-06,Poor Little Fool,Ricky Nelson,1,1,2,1,False
1,1958-08-06,Nel Blu Dipinto Di Blu (Volaré),Domenico Modugno,2,54,2,2,False
2,1958-08-06,Patricia,Perez Prado And His Orchestra,2,2,2,3,False
3,1958-08-06,Splish Splash,Bobby Darin,3,3,2,4,False
4,1958-08-06,When,Kalin Twins,5,5,2,5,False

In [6]:
billboardChartsDF.tail()

,Date,Title,Artist,Peak_Position,Last_Position,Weeks_on_Chart,Rank_in_Chart,New_on_Chart
311251,2018-10-31,Backin' It Up,Pardison Fontaine Featuring Cardi B,92,0,2,95,False
311252,2018-10-31,Africa,Weezer,51,84,15,96,False
311253,2018-10-31,Electricity,Silk City x Dua Lipa,96,97,3,97,False
311254,2018-10-31,Get Dripped,Lil Yachty Featuring Playboi Carti,98,0,0,98,True
311255,2018-10-31,Drowns The Whiskey,Jason Aldean Featuring Miranda Lambert,32,98,18,99,False